.hidden {
    display: none;
}

.blue {
    background-color: lightblue;
}
.red {
    background-color: lightcoral;
}
.green {
    background-color: lightgreen;
}
.pink {
    background-color: lightpink;
}




.tabs-link.active {
    background-color: #fff;
}

.tab-content-item {
    display: none;
}

.tab-content-item.active {
    display: block;
}



.flex-list {
    font-size : 1rem;
}

.flex-list-li {
    font-size : 1rem;
}

.flex-list-btn {
    font-size : 1rem;
}